.railworks {
    -fx-background-color: #57667FFF;
}

.menu-bar{
    -fx-background-color: #293C60FF;
}

.menu-button .label{
    -fx-text-fill: white;
}

.menu-button:disabled .label{
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.railworks-scrollpane .viewport{
    -fx-background-color: #57667FFF;
}
.railworks-station{
    -fx-border-width: 2;
    -fx-border-color: white;
}

.railworks-station-label{
    -fx-text-fill: white;
}