.railworks {
    -fx-background-color: #57667FFF;
}

.menu-bar {
    -fx-background-color: #293C60FF;
}

.menu-button .label {
    -fx-text-fill: white;
}

.menu-button:disabled .label {
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.railworks-scrollpane .viewport {
    -fx-background-color: #57667FFF;
}

.railworks-station, .railworks-window {
    -fx-border-width: 1.5;
    -fx-border-color: #6D92C0FF #05204DFF #05204DFF #6D92C0FF; /*t r b l*/
}

.railworks-station-label, .railworks-window-label {
    -fx-text-fill: white;
}
