.railworks {
    -fx-background-color: #57667FFF;
}

.menu-bar{
    -fx-background-color: #293C60FF;
}

.menu-button .label{
    -fx-text-fill: white;
}

.menu-button:disabled .label{
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.railworks-scrollpane .viewport{
    -fx-background-color: #57667FFF;
}
.railworks-station{
    -fx-border-width: 3;
    -fx-border-color: #6D92C0FF #05204DFF #6D92C0FF #05204DFF; /*t r b l*/
}

.railworks-station-label{
    -fx-text-fill: white;
}



/**
   --color-border-right-bottom-inactive : hsla(217, 88%, 16%, 1.0);
    --color-border-left-top-inactive     : hsla(213, 40%, 59%, 1.0);
    --color-border-right-bottom-active   : var(--color-border-left-top-inactive);
    --color-border-left-top-active       : var(--color-border-right-bottom-inactive);
 */